body {
  font-family: Menlo;
  color: #222222;
  margin: 0; /* Remove default margin */
  padding: 30px; /* Add some padding */
  background: white;
  
  

}
  

h1 {
  color: #222222;
  text-align: center;
  font-weight: lighter;
  font-size: 0.5em; /* Increase heading size */
  margin-bottom: 20px; /* Add space after heading */
}

p {
  color: #222222;
  font-weight: lighter;
  font-size: 0.2em; /* Increase heading size */
  line-height: 2; /* Increase line spacing */
}

a {
  color: #222222;
  font-weight: lighter;
  font-size: 0.2em; /* Increase heading size */
  line-height: 2; /* Increase line spacing */
}

section {
  margin-bottom: 40px; /* Add space between sections */
}

h2 {
  color: #222222;
  text-align: center;
  font-weight: lighter;
  font-size: 0.5em; /* Increase section heading size */
  margin-bottom: 10px; /* Add space after section heading */
}

ul {
  list-style: none; /* Remove default bullet points */
  font-weight: lighter;
  font-size: 0.5em; /* Increase section heading size */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

li {
  font-weight: lighter;
  font-size: 0.5em; /* Increase section heading size */
  margin-bottom: 10px; /* Add space between list items */
}

.image-section {
  text-align: center; /* Center the image and text */
}

.image-section img {
  width: auto;
  margin: 10px auto; /* Add margin around the image */
}

/* Default styles (two columns) */
.column {
  width: 40%;
  float: left;
}

/* Single column for mobile screens */
@media only screen and (max-width: 768px) {
  .column {
    width: 100%;
    float: none;
  }

}
.textGrade {
    background: linear-gradient(
        to right,
        #f0f 5%,
        #f00 10%,
        #ff9100 20%,
        #ff0 40%,
        #00c314 60%,
        #006fff 80%,
        #60f 90%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 10s ease-in-out infinite alternate;
}
@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
@-webkit-keyframes rumble {
    0% {-webkit-transform: rotate(0deg);}
    25% {-webkit-transform: translate(2px, 0px) rotate(-3deg);}
    50% {-webkit-transform: translate(0px, -2px) rotate(0deg);}
    75% {-webkit-transform: translate(-2px, 0px) rotate(3deg);}
    100% {-webkit-transform: translate(0px, 2px) rotate(0deg);} 
}


.modal-contents {
    height: 525px;
    width: 700px;
    max-width: 100%; /* This makes it so if the device is under 600px, it will resize to be the width of the screen and it will not overflow */
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    position: relative;
    border-radius: 4px;
}


.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.touch-iframe-wrapper {
    width: 300px; /* Adjust as necessary */
    height: 450px; /* Adjust as necessary */
    border: none; /* Optional, for aesthetics */
    overflow: scroll;
    -webkit-overflow-scrolling: touch; /* Key for smooth scrolling on iOS */
}

iframe {
    width: 300px; /* Adjust as necessary */
    height: 450px; /* Adjust as necessary */
    border: none; /* Optional, for aesthetics */
}

