body {
  font-family: Menlo;
  color: #222222;
  margin: 0; /* Remove default margin */
  padding: 30px; /* Add some padding */
  background: white;
  
  

}
  

h1 {
  color: #222222;
  text-align: center;
  font-weight: lighter;
  font-size: 0.5em; /* Increase heading size */
  margin-bottom: 20px; /* Add space after heading */
}

p {
  color: #222222;
  font-weight: lighter;
  font-size: 0.2em; /* Increase heading size */
  line-height: 2; /* Increase line spacing */
}

a {
  color: #222222;
  font-weight: lighter;
  font-size: 0.2em; /* Increase heading size */
  line-height: 2; /* Increase line spacing */
}

section {
  margin-bottom: 40px; /* Add space between sections */
}

h2 {
  color: #222222;
  text-align: center;
  font-weight: lighter;
  font-size: 0.5em; /* Increase section heading size */
  margin-bottom: 10px; /* Add space after section heading */
}

ul {
  list-style: none; /* Remove default bullet points */
  font-weight: lighter;
  font-size: 0.5em; /* Increase section heading size */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

li {
  font-weight: lighter;
  font-size: 0.5em; /* Increase section heading size */
  margin-bottom: 10px; /* Add space between list items */
}

.image-section {
  text-align: center; /* Center the image and text */
}

.image-section img {
  width: auto;
  margin: 10px auto; /* Add margin around the image */
}
.columns {
  display: flex;
  width: 60%;
 
}

.column {
  flex-grow: 1;
  padding: 30px; /* Add some padding */
  
}
/* Styles for screens smaller than 768px (e.g., mobile devices) */
@media only screen and (max-width: 768px) {
  .column {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .column {
    display: none;
  }
}
.scroll-wrapper {
	-webkit-overflow-scrolling: touch;
  	overflow-y: scroll;

	/* important:  dimensions or positioning here! */
}

